<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>309384679034-dbtfsv0qlcg51gv1nhaef0b5hefj1g4i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.309384679034-dbtfsv0qlcg51gv1nhaef0b5hefj1g4i</string>
	<key>API_KEY</key>
	<string>AIzaSyDGhl53EqnDY8-gJ8W1Mtqtj-Nglu9ymcw</string>
	<key>GCM_SENDER_ID</key>
	<string>309384679034</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.stride.run</string>
	<key>PROJECT_ID</key>
	<string>bultech-stride</string>
	<key>STORAGE_BUCKET</key>
	<string>bultech-stride.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:309384679034:ios:a791614d0706143b8cf5c3</string>
</dict>
</plist>